
.btn-rock {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
}

.rock-button-row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.score{
	text-align: center;
	font-size: 45px;
	color: #d2cfb7;
	margin-top:5%;
}